@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FF6D00;
  --color-secondary: #FFF7ED;
}

.customBTN{
    @apply btn border-2 border-primary font-bold bg-primary w-full text-white rounded-2xl
}
.navBTN{
    @apply btn font-bold hover:bg-primary hover:text-white ml-1 rounded-2xl
}
li .active{
    @apply bg-primary text-white
}

.loader {
  height: 80px;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  filter: blur(12px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0 5%, #C02942, #0000 20% 50%);
  animation: l2 1.5s linear infinite;
}

@keyframes l2 {
  to {
    rotate: 1turn;
  }
}
