@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FF6D00;
  --color-secondary: #FFF7ED;
}

.customBTN{
    @apply btn border-2 border-primary text-primary font-bold hover:bg-primary hover:text-white rounded-2xl
}
.navBTN{
    @apply btn font-bold hover:bg-primary hover:text-white ml-1 rounded-2xl
}
li .active{
    @apply bg-primary text-white
}